body{
    background-color: var(--light);
}

header, footer{
    background-color: var(--dark);
}

header a{
    color: var(--light);
}

header h1{
    text-align: center;
    padding: 0 2rem;
    color: var(--light);
}

main{
    display: none;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 3rem auto;
    position: relative;
}

main .menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 2rem;
    left: -2rem;
}

main .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    align-items: center;
    justify-content: center;
    
}

main .grid .items{
    background-color: green;
    height: 15rem;
    width: 12rem;
    border-radius: 0.5rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

