<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/2881/2881142.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/about.css">
</head>

<body>
    <header>
        <a href="../index.html">Home</a>
        <a href="projects.html">Projetos</a>
    </header>
    
    <main class="about">
        <div class="perfil">
            <img src="https://ik.imagekit.io/l7cwocexhc/foto_GZLze8QY8O.jpg" alt="Foto do perfil">
            <h2>De contadora a programadora</h2>
            <p>Sou uma contadora que se encantou pela área dev e decidiu se aventurar!</p>
        </div>
        <div class="content">
            <p>Atualmente sou estudante do LaunchBase Bootcamp da Rocketseat e complemento os estudos com cursos na Udemy, Digital Innovation One e School of Net.</p>
            <p>E para colocar todo conhecimento adquirido em prática, elaboro pequenos projetos, que além de ajudarem no estudo, enriquecem meu Github.</p>
            <h3>Ficou curioso?</h3>
            <p>
                Na página Projetos você pode conferir os principais, mas... se quiser conhecer todo meu repositório... dá uma passeada no meu Github. 
                <i class="em em-wink" aria-role="presentation" aria-label="WINKING FACE"></i>
            </p>
        </div>
    </main>

    <footer>
        <div id="menu">      
            <div id="social">
                <a href="https://github.com/nlnadialigia" target="_blank">
                    <img src="https://img.icons8.com/nolan/64/github.png" alt="Github"/>
                </a>
                <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
                    <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin"/>
                </a>
                <a href="mailto:nlnadialigia@gmail.com">
                    <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email"/>
                </a>
            </div>
            <div id="title">
                <p class="hamburguer">Contato</p>              
            </div>
        </div>       
    </footer>

    <script src="/scripts/footer.js"></script>
    
</body>

