<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/2881/2881142.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>

<body>
    <header>
        <a href="index.html">Home</a>
        <a href="projects.html">Projetos</a>
    </header>
    
    <main class="about">
        <div class="perfil">
            <img src="https://ik.imagekit.io/l7cwocexhc/foto_GZLze8QY8O.jpg" alt="Foto do perfil">
            <h2>De contadora a programadora</h2>
        </div>
        <p>Sou uma contadora que se encantou pela área dev e decidiu se aventurar!</p>
        <p>Atualmente sou estudante do LaunchBase Bootcamp da Rocketseat, que eu já deveria ter finalizado, mas senti a necessidade de reforçar alguns conceitos e terminar com uma base mais sólida.</p>
        <p>Também sou aluna da Digital House no Curso Santander Mobile Coders, o qual fui contemplada com uma bolsa de estudos. Esse é um universo novo e que eu ainda não tinha explorado, mas estou adorando a experiência.</p>
        <p>Também tenho treinado meus conhecimentos com pequenos projetos, especialmente joguinhos, que é algo que me atrai.</p>
        <h3>Ficou curioso?</h3>
        <p>Na página Projetos você pode conferir os que eu mais gostei... mas se quiser conhecer todo meu repositório... dá uma passeada no meu Github.</p>
    </main>

    <footer>
        <input type="checkbox" id="menu-hamburguer">

    <label for="menu-hamburguer">
        <div class="menu">
            <span class="hamburguer"></span>
        </div>
    </label>

    <ul>
        <li>
            <a href="https://github.com/nlnadialigia" target="_blank">
                <img src="https://img.icons8.com/nolan/64/github.png" alt="Github"/>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
                <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin"/>
            </a>
        </li>
        <li>
            <a href="mailto:nlnadialigia@gmail.com">
                <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email"/>
            </a>
        </li>
    </ul>
    </footer>

</body>

