{% extends "layout.njk" %}

{% block head %}
    <title>Portfólio</title>
    <link rel="stylesheet" href="/styles/index.css">    
{% endblock head %}

{% block content %}   
    <header>
        <a href="/about">Sobre mim</a>
        <a href="/projects">Projetos</a>
    </header>

    <main>                                                                   
        <div class="title">
            <h1>
                <p>HELLO WORD!</p>
            </h1>
        </div>
    </main>

    <section>
        <p>
            Sou 
            <h1>NÁDIA LIGIA</h1> 
        </p>
        <p>Esse site tem o intuito e apresentar um pouquinho da minha trajetória e acompanhar a minha evolução.</p>
        <h2>ENJOY IT!</h2>
    </section>
{% endblock content %}
