{% extends "layout.njk" %}

{% block head %}
    <title>Projetos</title>
    <link rel="stylesheet" href="/styles/projects.css">
{% endblock %}

{% block content %}
    <header>
        <a href="/">Home</a>
        <a href="/about">Sobre mim</a>
    </header>

    <main>
        <div id="title">
            <p>Meus Projetos</p>       
        </div>
        <div class="grid">
            <div class="items">
                <div class="hex">
                    <a href="/homepage/projects/project01.html">
                        projeto
                    </a>
                </div>
            </div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
            <div class="items">Projeto</div>
        </div>
    </main>

    <section>
        <img src="/images/construction.webp" alt="Página em construção">
    </section>
{% endblock %}
