<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <title>Hoje é dia de...</title>
  <link rel="shortcut icon" href="/images/favicon/30d.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/project.css">
</head>

<body>
  <header>
    <a href="/index.html">Home</a>
    <a href="../about.html">Sobre mim</a>
  </header>

  <!-- <div class="construction">
    <img src="/images/construction.webp" alt="Under Construction">
  </div> -->
  <div class="title">
    <img src="../../images/hjd.png" alt="Hoje é dia de...">
  </div>
  <main>
    <div class="about-project">
      <p>
        Durante 30 dias eu me desafiei a escrever no linkedin. Foram artigos dos mais variados desde dicas básicas até
        conteúdos que eu achei interessante compartilhar.
      </p>
      <p>
        Foi um período de grande aprendizado, principalmente na constância e determinação. Me tirou completamente da
        minha zona de conforto!
      </p>
      <p>
        Em alguns desses artigos foram desenvolvidos pequenos projetos, baseados em tutoriais que me ajudaram a consolidar os conceitos.
      </p>
      <p>
        Escolhi 5 publicações que me marcaram, mas vocês podem conferir todas no repositório do <a target="_blank" href="https://github.com/nlnadialigia/30D-DE.git">Github!</a>
      </p>
    </div>
    <div class="about-link">
      <a target="_blank" href="https://www.linkedin.com/pulse/rel%25C3%25B3gio-nadia-ligia/">Relógio</a>
      <a target="_blank" href="https://www.linkedin.com/pulse/confirm-nadia-ligia/">Confirm</a>
      <a target="_blank" href="https://www.linkedin.com/pulse/jogo-da-mem%25C3%25B3ria-nadia-ligia/">Jogo da memória</a>
      <a target="_blank" href="https://www.linkedin.com/pulse/adivinhe-o-n%25C3%25BAmero-nadia-ligia/">Adivinhe o número</a>
      <a target="_blank" href="https://www.linkedin.com/pulse/fim-nadia-ligia/">Fim</a>
    </div>
  </main>

  <div class="button">
    <a href="/views/projects.html">
      <button>Back</button>
    </a>
  </div>


  <footer>
    <div id="menu">
      <div id="social">
        <a href="https://github.com/nlnadialigia" target="_blank">
          <img src="https://img.icons8.com/nolan/64/github.png" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
          <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:nlnadialigia@gmail.com">
          <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email" />
        </a>
      </div>
      <div id="title">
        <p class="hamburguer">Contato</p>
      </div>
    </div>
  </footer>
  <script src="/scripts/footer.js"></script>
</body>

</html>