<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <title>IGTI</title>
  <link rel="shortcut icon" href="/images/favicon/igti.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/project.css">
</head>

<body>
  <header>
    <a href="/index.html">Home</a>
    <a href="../about.html">Sobre mim</a>
  </header>
  <main>
    <div class="about-project">
      <p>
        Escolhi o Bootcamp Desenvolvedor FullStack do IGTI para conhecer novas abordagens do mesmo conteúdo, já que os
        escopo técnico é o mesmo desenvolvido. na Rocketseat.
      </p>
      <p>
        Neste bootcamp serão apresentadas técnicas de construção de uma aplicação passando por todas as suas camadas
        lógicas - backend, frontend,
        persistência de dados NoSQL, controle de versionamento de código com Git e implantação em nuvem - habilitando-se
        para atuar profissionalmente na área.
      </p>
    </div>
    <div class="about-link">
      <a href="http://https://github.com/nlnadialigia/IGTI" target="_blank">Github</a>
      <a href="http://https://igti-register-m01.netlify.app" target="_blank">CRUD</a>
      <a href="http://https://igti-favorite-country-m01.netlify.app" target="_blank">Favorite Countries</a>
    </div>
  </main>

  <div class="button">
    <a href="/views/projects.html">
      <button>Back</button>
    </a>
  </div>

  <footer>
    <div id="menu">
      <div id="social">
        <a href="https://github.com/nlnadialigia" target="_blank">
          <img src="https://img.icons8.com/nolan/64/github.png" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
          <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:nlnadialigia@gmail.com">
          <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email" />
        </a>
      </div>
      <div id="title">
        <p class="hamburguer">Contato</p>
      </div>
    </div>
  </footer>
  <script src="/scripts/footer.js"></script>
</body>

</html>