<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <title>Mix</title>
  <link rel="shortcut icon" href="/images/favicon/others.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/project.css">
</head>

<body>
  <header>
    <a href="/index.html">Home</a>
    <a href="../about.html">Sobre mim</a>
  </header>

  <div class="construction">
    <img src="/images/construction.webp" alt="Under Construction">
  </div>

  <!-- <main>
    <div class="about-project">
      <p>

      </p>
      <p>

      </p>
    </div>
    <div class="about-link">
      <a href="http://" target="_blank" rel="noopener noreferrer"></a>
    </div>
  </main> -->

  <div class="button">
    <a href="/views/projects.html">
      <button>Back</button>
    </a>
  </div>

  <footer>
    <div id="menu">
      <div id="social">
        <a href="https://github.com/nlnadialigia" target="_blank">
          <img src="https://img.icons8.com/nolan/64/github.png" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
          <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:nlnadialigia@gmail.com">
          <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email" />
        </a>
      </div>
      <div id="title">
        <p class="hamburguer">Contato</p>
      </div>
    </div>
  </footer>
  <script src="/scripts/footer.js"></script>
</body>

</html>