<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 01</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/projects.css">
</head>
<body>
    <header>
        <a href="../index.html">Home</a>
        <a href="../about.html">Sobre mim</a>
    </header>

    <main>
        <div class="menu">
            <button>Next</button>
            <button>Previous</button>
            <button>Grid</button>
        </div>
    </main>
    <footer>
        <a href="https://github.com/nlnadialigia" target="_blank">
            <img src="https://img.icons8.com/nolan/64/github.png" alt="Github"/>
        </a>
        <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
            <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin"/>
        </a>
        <a href="mailto:nlnadialigia@gmail.com">
            <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email"/>
        </a>
    </footer>
</body>
</html>