<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocketseat</title>
  <link rel="shortcut icon" href="/images/favicon/rocket.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/project.css">
</head>

<body>
  <header>
    <a href="/index.html">Home</a>
    <a href="../about.html">Sobre mim</a>
  </header>

  <main>
    <div class="about-project">
      <p>
        A Rocketseat foi meu primeiro contato com a programação na Next Level Week, uma semana onde é criada uma
        aplicação completa.
      </p>
      <p>
        Desde então participei das 3 edições da Next Level Week ofertadas esse ano, do Bootcamp LaunchBase e,
        atualmente, faço o Bootcamp GoStack e sou integrante do Space Squad, um programa de mentoria para
        desenvolvermos habilidades não técnicas para o auxílio da comunidade.
      </p>
    </div>
    <div class="about-link">
      <a target="_blank" href="https://app.rocketseat.com.br/me/nadia-santos-1591139219">Perfil na Rocketseat</a>
      <a target="_blank" href="https://github.com/nlnadialigia/Aulas-LaunchBase.git">Aulas LaunchBase</a>
      <a target="_blank" href="https://github.com/nlnadialigia/desafios-launchbase.git">Desafios LaunchBase</a>
      <a target="_blank" href="https://github.com/nlnadialigia/GoStack">Aulas GoStack</a>
      <a target="_blank" href="https://github.com/nlnadialigia/Desafios-GoStack">Desafios GoStack</a>
    </div>
  </main>
  <div class="button">
    <a href="/views/projects.html">
      <button>Back</button>
    </a>
  </div>

  <footer>
    <div id="menu">
      <div id="social">
        <a href="https://github.com/nlnadialigia" target="_blank">
          <img src="https://img.icons8.com/nolan/64/github.png" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
          <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:nlnadialigia@gmail.com">
          <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email" />
        </a>
      </div>
      <div id="title">
        <p class="hamburguer">Contato</p>
      </div>
    </div>
  </footer>
  <script src="/scripts/footer.js"></script>
</body>

</html>