<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <title>Wizard</title>
  <link rel="shortcut icon" href="/images/favicon/wizard.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/project.css">
</head>

<body>
  <header>
    <a href="/index.html">Home</a>
    <a href="../about.html">Sobre mim</a>
  </header>

  <!-- <div class="construction">
    <img src="/images/construction.webp" alt="Under Construction">
  </div> -->
  
  <main>
    <div class="about-project">
      <p>
        Esse projeto foi muito especial, já que foi o primeiro projeto que eu fiz com objetivos específicos.
      </p>
      <p>
        Minha irmã é Coordenadora Pedagógica da Wizard Ribeirânia em Ribeirão Preto. Devido a pandemia todas a atividades passaram a ser online e a escola teve que se adaptar e mudar as atividades que estavam programadas para esse período.
      </p>
      <p>
        E foi assim que surgiu a ideia... primeiro foi um jogo da memória com os personagens da WizKids. Na semana do dia das crianças fizemos uma surpresa para elas e trocamos os personagens por fotos das crianças da turma. Elas adoraram!
      </p>
      <p>
        Na semana da criança também foram desenvolvidos outros jogos: jogo da forca, advinhe o número e um caça ao tesouro, que não teve base em tutoriais existentes. Esse foi o meu primeiro projeto autoral. 
      </p>
    </div>
    <div class="about-link">
      <a target="_blank" href="https://github.com/nlnadialigia/wizard-activities.git">Github</a>
      <a target="_blank" href="https://memory-game-wiz.netlify.app/">Memory Game</a>
      <a target="_blank" href="https://wiz-hangman.netlify.app/">Hangman</a>
      <a target="_blank" href="https://wiz-guess-the-number.netlify.app/">Guess the number</a>
      <a target="_blank" href="https://wiz-treasure-hunt.netlify.app/">Treasure<br> Hunt</a>
    </div>
  </main>

  <div class="button">
    <a href="/views/projects.html">
      <button>Back</button>
    </a>
  </div>

  <footer>
    <div id="menu">
      <div id="social">
        <a href="https://github.com/nlnadialigia" target="_blank">
          <img src="https://img.icons8.com/nolan/64/github.png" alt="Github" />
        </a>
        <a href="https://www.linkedin.com/in/nlnadialigia/" target="_blank">
          <img src="https://img.icons8.com/nolan/64/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:nlnadialigia@gmail.com">
          <img src="https://img.icons8.com/nolan/64/new-post.png" alt="Email" />
        </a>
      </div>
      <div id="title">
        <p class="hamburguer">Contato</p>
      </div>
    </div>
  </footer>
  <script src="/scripts/footer.js"></script>
</body>

</html>