main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
}

main h1 {
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: play 3s ease;
}

@keyframes play {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main p {
  animation: loop 5s infinite;
}

section {
  font-size: 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 48px;
  margin: auto 48px;
  animation: play2 3s ease;
}

@keyframes play2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section p+p {
  margin-top: 32px;
}

section h2 {
  margin-top: 64px;
}

/* RESPONSIVE */

@media(max-width: 420px) {
  main {
    padding: 16px;
  }
  main h1 {
    font-size: 64px;
  }
  section {
    padding: 0 16px;
  }
}