
main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
}

main h1{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--dark) 50%,  var(--light) 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: play 3s ease;
}

@keyframes play{
    from {opacity: 0;}
    to {opacity: 1;}
}

section{
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    margin: auto 3rem;
    background: linear-gradient(to right, var(--dark) 50%,  var(--light) 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: play2 3s ease;
}

@keyframes play2{
    from {opacity: 0;}
    to {opacity: 1;}
}

section p+p{
    margin-top: 1.5rem;
}

section h2{
    margin-top: 4rem;
}

@media(max-width: 420px){
    main{
        padding: 0;
        background: var(--light);
    }

    main h1{
        background: var(--light);
        -webkit-text-fill-color: var(--dark);
        background-clip: none;
        font-size: 3.5rem;
        color: var(--dark);
    }

    section{
        font-size: 1.5rem;
        margin: 0 1rem;
        padding: 0 1rem;
        color: var(--light);
        background: var(--dark);
        -webkit-text-fill-color: var(--light);
        background-clip: none;
    }

    :section p+p{
        margin-top: 0.5rem;
    }

    section h2{
        margin-top: 1.5rem;
    }
}



