:root {
  --bg01: #1C1C1C;
  --bg02: #4F4F4F;
  --bg00: #FFF0F5;
  --letter: #F5FFFA;
}

body {
  background-color: var(--dark);
  background-image: none;
}

header a {
  color: var(--light);
}

.construction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img{
  width: 50%;
}

.about-project a{
  color: var(--hover-color);
  animation: loop 0.8s infinite;
}

main {
  margin: 32px;
}

main p{
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
  color: var(--light);
  opacity: 0.7;
}

.about-link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 28px;
}

.about-link a{
  height: 200px;
  width: 160px;
  margin: 32px;
  border-radius: 8px;
  background: linear-gradient(to right, var(--bg01) 50%, var(--bg02) 50%);
  box-shadow: 10px 5px 5px var(--dark);
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  text-align: center;
}

main .about-link a:hover {
  transform: translateY(-10px);
  transform: scale(1.05);
  box-shadow: 10px 5px 5px var(--light);
  color: var(--hover-color);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  background-color: var(--bg01);
  color: var(--light);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  color: var(--hover-color);
}

#social img {
  background: var(--dark);
  border-radius: 500%;
}

@media(max-width: 420px) {
  .construction img {
    width: 20rem;
  }
  button {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  footer img {
    width: 32px;
  }
}