:root{
    --bg01: #1C1C1C;
    --bg02: #4F4F4F;
    --bg00: #FFF0F5;
    --letter: #F5FFFA;
}

body{
    background-color: var(--dark);
}

header a{
    color: var(--light);
}

main{
    height: 50rem;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

main #title{
    display: flex;
}

main #title p {
    display: flex;
    text-transform: uppercase;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 3rem;
    font-weight: bold;
    color: var(--bg01);
    margin-top: 2rem;
    width: 1px;
    position: relative;
    left: 2rem;
    animation: blink 6s linear infinite;
}

@keyframes blink{
    0% { opacity: 0.3; color: var(--hover-color);}
    5% { opacity: 1;}
    10% { opacity: 0.3; color: var(--hover-color);}
    15% { opacity: 1;}
    20% { opacity: 0.3;color: var(--hover-color);}
    25% { opacity: 1;}
}

main #grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

main #grid .items{
    height: 18rem;
    width: 12rem;
    margin: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right, var(--bg01) 50%, var(--bg02) 50%);
    box-shadow: 10px 5px 5px var(--dark);
    transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #grid .items:hover{
    transform: translateY(-10px);
    transform: scale(1.2);
    box-shadow: 10px 5px 5px var(--light);
}

main .items img{
    width: 8rem;
    border-radius: 50%;
}

/* .hex{
    background-color: var(--light);
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 34%;
    left: 29%;
    box-shadow: 10px 5px 5px var(--bg01);
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);    
}

.hex:hover{
    width: 80px;
    height: 80px;
    top: 34%;
    left: 29%;
} */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    

.contact img{
    width: 5rem;
    background-color: var(--bg01);
    margin: 2rem;
    animation: image 6s linear infinite;
}

@keyframes image{
    0% { opacity: 0.3}
    5% { opacity: 1;}
    10% { opacity: 0.}
    15% { opacity: 1;}
    20% { opacity: 0.3}
    25% { opacity: 1;}
}

.github{
    border-radius: 50%;
}

.linkedin{
    border-radius: 20%;
}

.email{
    border-radius: 10%;
}

section{
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

section img{
    width: 40rem;
}

@media(max-width: 420px){
    body{
        background: var(--dark);
    }

    header{
        background: var(--light);
    }

    
    #social{
        justify-content: center;
    }

    section{
        padding: 5rem;
    }

    section img{
        width: 15rem;
    }
}

