body {
  background-color: var(--light);
  background-image: none;
}

header a {
  color: var(--dark);
}

.construction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 32px;
  color: var(--dark);
  font-size: 24px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--light);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: fixed;
  bottom: 16px;
}

button:hover {
  color: var(--hover-color);
}

#social img {
  background: var(--dark);
  border-radius: 500%;
}

@media(max-width: 420px) {
  .construction img {
    width: 20rem;
  }
  button {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  footer img {
    width: 32px;
  }
}